#name{
  float: left;
  background-color: #4aaaa5;
  font-size: 20px;
  padding: 25px;
  height: 20px;
  right: 0;
  left: 0;
  text-align: center;
  color: white;
  font-family: 'Georgia', Times, 'Times New Roman', serif;


  
    
}

.header {
  background-color:#ffffff;
  padding: 30px;
  right: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: auto;
  height: 40px;
  text-align: right ;
  border-style: hidden;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  
  
}

a{
  color: #666666;
}

body{

  background-image: url("https://media.istockphoto.com/vectors/vector-seamless-subtle-pattern-modern-stylish-texture-repeating-vector-id918098788?k=6&m=918098788&s=612x612&w=0&h=Xb09jL14bauqqZI38PrFr9rVAHEgPrVr_ojgMMmcsLU=");
}


footer{
  position: fixed;
  left: 0;
  padding: 20px;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
}